<mat-grid-list cols="3" rowHeight = "50px">
  <mat-grid-tile> <a routerLink = "/techi">Hosptial Techi</a> </mat-grid-tile>
  <mat-grid-tile> <a routerLink = "/manager">Hosptial Manager</a> </mat-grid-tile>
  <mat-grid-tile> <a routerLink = "/admin">Hosptial Admin</a>  </mat-grid-tile>
</mat-grid-list>


<router-outlet></router-outlet>

<!-- 
<br>
<mat-grid-list cols = "4" gutterSize = "10px">
 <mat-grid-tile colspan = '2'> <div>
  <button mat-raised-button>Hello World</button>

  <br>
  <button mat-fab>Hello World</button>

<br>

  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div> </mat-grid-tile>
 <mat-grid-tile> tile 2</mat-grid-tile>
 <mat-grid-tile> 
  tile 3
  

 </mat-grid-tile>
</mat-grid-list>
  <div class = "mat-display-4"> this is display 4</div>
  <div class = "mat-display-3"> this is display 3</div>
  <div class = "mat-display-2"> this is display 2</div>
  <div class = "mat-display-1"> this is display 1</div>

  <div class = "mat-headline"> this is h1</div>
  <div class = "mat-title"> this is h2</div>
  <div class = "mat-subheading-2"> this is h3</div>
  <div class = "mat-subheading-1"> this is h4</div>

  <div class = "mat-body-1">this is body text</div>
  <div class = "mat-body-2">this is bold body text</div>
  <div class = "mat-caption">this is caption text</div> 

  <div class="mat-typography">
    <h1>h1</h1>
    <h2> h2</h2>
  </div>
-->