<app-search-bar></app-search-bar>
<p>Below will appear only if request is pending</p>

<mat-grid-list cols = '5' rowHeight = "100px" >
    <div class = "tile">
        <mat-grid-tile> <button mat-button> OR Setup Request</button> </mat-grid-tile>
        <mat-grid-tile> <button mat-button> Emergency Request </button> </mat-grid-tile>
    </div>
</mat-grid-list>
  

<p>These are permenet tabs</p>
<mat-grid-list cols = '5' rowHeight = "100px" >
    <div class = "tile">
        <mat-grid-tile> <button mat-button> History</button> </mat-grid-tile>
        <mat-grid-tile> <button mat-button> Manage and admin Details</button> </mat-grid-tile>
    </div>
</mat-grid-list>
  